body {
    color: #b3b3b3;
    background: #1b1b1b;
}

nav {
    background: #000;
}

pre code {
    background: #000;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #b3b3b3;
}

a {
  color: lightskyblue;
}

a:visited {
  color: darkcyan;
}

header + hr {
    border-top: 3px double #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
}

p code, li code {
    color: lightgreen;
}

div.footnotes li:target {
    background: #313027;
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted #333;
}

@media print {
    body {
        background: none;
        color: #333;
    }
    nav {
        background: #333;
    }
}
