body {
    color: #333;
    font-size: 18px;
    font-family: serif;
}

main {
    max-width: 35em;
    padding: 1em 5vw 1em;
    margin: 0 auto;
    line-height: 1.4;
}

nav {
    background: #eee;
    padding: 0.5em;
    display: inline-block;
}

pre code {
    padding: 1em;
    overflow: auto;
    white-space: pre-wrap;
    display: block;
    background: #eee;
    font-size: 14px;
}

article p {
    text-align: justify;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #333;
}

article header {
    text-align: center;
}

hr {
    margin: 3em auto;
    width: 30%;
    background: none;
    border-top: 3px double #333;
    border-bottom: 1px solid #333;
    border-left: 0;
    border-right: 0;
    height: 1px;
}

p code, li code {
    color: green;
    font-size: 16px;
}

img {
    border-radius: 3px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

ul.posts time, article header time {
    font-style: italic;
}

ul.posts time {
    float: right;
}

blockquote {
    font-style: italic;
}
