body {
    font-family: serif;
    background: #f3efe2;
}

main {
    max-width: 35em;
    padding: 1em 3vw 1em;
    margin: 0 auto;
}

nav {
    display: inline-block;
}

pre, code, ul.posts time {
    font: 13px monospace;
}

pre code {
    padding: 8px;
    overflow: auto;
    display: block;
    background: #111;
    color: #eee;
    white-space: pre;
    word-wrap: normal;
}

p {
    text-align: justify;
}

blockquote {
    quotes: '“' '”';
    font-style: italic;
}

blockquote p:before {
    content: '“';
    content: open-quote;
}

blockquote p:after {
    content: '';
    content: no-close-quote;
}

blockquote p:last-child:after {
    content: '”';
    content: close-quote;
}

/* normalize the user agent stylehseet */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1em; }
h4 { font-size: 0.8em; }
h5 { font-size: 0.6em; }
h6 { font-size: 0.4em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: black;
}

header h1 {
    margin-bottom: 0em;
}

p code, li code, samp, kbd {
    color: #eee;
    background: #111;
    padding: 1px 3px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

article header time {
    font-style: italic;
    display: inline-block;
    margin-top: 0em;
}

ul.posts li div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

ul.posts a {
    flex-grow: 2;
}

ul.posts time {
    flex-shrink: 0;
    padding-right: 0.5em;
}

.caption {
    text-align: center;
    font-style: italic;
    width: 90%;
    margin: 1em auto;
}

div.footnotes li:target {
    background: lemonchiffon;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

abbr[title], acronym[title] {
    text-decoration: none;
    border-bottom: 1px dashed #333;
    cursor: help;
}

@media print {
    main {
        max-width: 100%;
        margin: 0;
    }
    pre code {
        font-size: 11px;
        white-space: pre-wrap;
        color: black;
        background: none;
    }

    pre, code, samp, kbd {
        color: black;
    }
}

.highlight .c1 {
    font-style: italic;
    color: #aaa;
}

.highlight .nf, .highlight .nc {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}
